.about-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
  }
  
  .dropdown-symbol {
    cursor: pointer;
  }
  

